<div class="page">
    <div class="dummy" style="@(Grayscale?"filter: grayscale(1);":"") @(IsLast?"opacity: 1;":"")">
        @if (IsLast)
        {
            <EmbeddedControl />
        }
    </div>
</div>

@code {
    [Parameter]
    public bool IsLast { get; set; }
    [Parameter]
    public bool Grayscale { get; set; }
}
