@if (BookLoader.EmbeddedFunctions)
{
    <div class="embedded">
        <a href="#" class="btn" onclick="embedded.close(); return false;">Close</a>
        <a href="#" class="btn" onclick="embedded.next(); return false;">Next</a>
    </div>
}