@if (BookLoader.EmbeddedFunctions)
{
    if (BasicMode)
    {
        <a href="#" class="btn" onclick="embedded.close(); return false;">Close</a>
        <a href="#" class="btn" onclick="embedded.next(); return false;">Next</a>
    }
    else
    {
        <div class="embedded">
            <a href="#" class="btn" onclick="embedded.close(); return false;">Close</a>
            <a href="#" class="btn" onclick="embedded.next(); return false;">Next</a>
        </div>
    }
}

@code {

    [Parameter]
    public bool BasicMode { get; set; }
}